@import "normalize.css";
@import "fonts.css";
@import "medium-editor/dist/css/medium-editor.css";
@import "medium-editor/dist/css/themes/default.css";

/* OVERRIDE MEDIUM START */

.medium-editor-placeholder:after {
  left: 20px;
  top:20px;
}

/* OVERRIDE MEDIUM END */

body {
  background: #32A4DC;
  font: 1rem/1.3 Roboto,sans-serif;
  font-weight: 300;
  height: 100%;
}

html {
  height: 100%;
}

#content {
  height: 100%;
}

a.active {
  color: #ffffff !important;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.3;
}
